/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}

/* MAP */
#map{
    height: 100vh;
}

body{
    font-family: "Poppins", sans-serif;
}

aside{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
    width: 260px;
    height: 90vh;
    background-color: rgba(53,53,53,0.7);
    border-radius: 10px;
    overflow: hidden;
    color: white;
    transition: all 0.3s;
}

aside:hover{
    background-color: rgb(53,53,53);
}

aside .head{
    font-family: "Indie Flower", cursive;
    text-align: center;
    background-color: rgb(53,53,53);
    border-radius: 10px;
    padding: 5px;
    margin: 20px 20px 0 20px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

aside .head h1{
    font-size: 25px;
    flex: 1;
}

aside .head #arrow{
    font-size: 20px;
    cursor: pointer;
    transition:  all 0.5s;
}


aside #add-title{
    display: none;
}

aside form{
    display: none;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
    padding: 20px;
}

aside form .field{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

aside form .field :where(input, select){
    padding: 5px;
    border-radius: 5px;
}

aside form  .buttons{
    display: flex;
    gap: 10px;

}

aside form  .buttons button{
    flex: 1;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
}

aside form  .buttons button:first-child{
    background-color: #727171;
}

aside form  .buttons button:hover{
    filter: brightness(60%);
}

/* List */
ul{
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    overflow: auto !important;
}

ul li{
    background-color: #575757;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

ul li p:first-child{
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    letter-spacing: 3px;
}

ul li .icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul li .icons i{
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
}

ul li .icons i:hover{
    scale: 1.1;
}

ul li #fly-btn:hover{
    color:  #2bd9ff;
    filter: drop-shadow(0 0 10px  #2bd9ff);
}
ul li #delete-btn:hover{
    color: crimson;
    filter: drop-shadow(0 0 10px crimson);
}
/* Dinamik Class */


/* ADD mode */
.add{
    height: 400px;
}

.add form{
    display: flex;
}

.add ul, .add h1 {
    display: none;
}

.add #add-title{
    display: block;
}

/* Hide mode */
.hide{
    height: 90px;
}

.hide .head{
    margin-bottom: 20px;
}

.hide #arrow{
    rotate: 180deg;
}

.hide :where(ul,form){
    display: none;
}